{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <h2><em>Login to our Website</em></h2>
    <div>
        {{ form.non_field_errors }}
        {% for field in form %}
        {% if field.errors %}
        <p>{{ field.errors|striptags }}</p>
        {% endif %}
        {% endfor %}
    </div>

    <div>
        <label><b>Username</b></label>
        <br />
        {{ form.username }}
        <br />

        <label><b>Password</b></label>
        <br />
        {{ form.password }}

        <br />
        <button type="submit" value="login" class="form_button">Login</button>
        <p><a href="{% url 'signup' %}">Registration</a></p>
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
</form>
{% endblock %}
