<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    </head>
    <body bgcolor=#f2d675>
        <div class="container">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <h2><em>Login to our Website</em></h2>
                <div>
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        {% if field.errors %}
                            <p>{{ field.errors|striptags }}</p>
                        {% endif %}
                    {% endfor %}
                </div>

                <div>
                    <label><b>Username</b></label>
                    <br />
                    {{ form.username }}
                    <br />

                    <label><b>Password</b></label>
                    <br />
                    {{ form.password }}

                    <br />
                    <button type="submit" value="login">Login</button>
                    <p><a href="{% url 'signup' %}">Registration</a></p>
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>
            </form>
        </div>
    </body>
</html>