{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/project.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/project/new_task_group.js' %}" defer></script>
{% endblock %}

{% block title %}New TaskGroup{% endblock %}

{% block content %}
<form method="post" action="{% url 'create_task_group' project_id=form.project_id %}">
    {% csrf_token %}
    <h2><em>Create new task group</em></h2>
    <div>
        {{ form.non_field_errors }}
        {% for field in form %}
        {% if field.errors %}
        <p>{{ field.errors|striptags }}</p>
        {% endif %}
        {% endfor %}
    </div>

    <div>
        <label><b>Name</b></label>
        <br />
        {{ form.name }}
        <br />

        <label><b>Preview</b></label>
        <br />
        <table align="center">
            <tbody>
                <tr>
                    <td id="task_group" class="task_group">
                        <div id="header" class="task_group_header">Task Group</div>
                        <div class="task">
                            Task
                            <hr />
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nam tincidunt odio sed nisi vestibulum scelerisque. 
                            Maecenas vehicula, lorem ac sollicitudin.
                        </div>
                        <div class="task">
                            Task
                            <hr />
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Sed vitae tellus ut velit tempus aliquam.
                            Quisque pellentesque, orci at facilisis.
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />

        <table width="100%">
            <tbody>
                <tr>
                    <td>
                        <label><b>Group Color</b></label>
                        <br \>
                        {{ form.color }}
                    </td>
                    <td>
                        <label><b>Task Color</b></label>
                        <br \>
                        {{ form.task_color }}
                    </td>
                </tr>
            </tbody>
        </table>
        <br />

        <label><b>Tags</b></label>
        <br />
        {{ form.tags }}
        <br />

        <button type="submit" id="button" class="form_button">Create</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
</form>
{% endblock %}
